@(textForm: Form[TextInput], urlForm: Form[UrlInput], tab: Symbol)

@main("Tag-it-all") {
    <h1>Tag-it-all</h1>
    <div class="tabbable tabs-left">
        <ul class="nav nav-tabs">
          <li@if(tab=='text){ class="active"}><a href="#tab1" data-toggle="tab">Text input</a></li>
          <li@if(tab=='file){ class="active"}><a href="#tab2" data-toggle="tab">File upload</a></li>
          <li@if(tab=='url){ class="active"}><a href="#tab3" data-toggle="tab">Web URL</a></li>
          <li><a href="/logs">Logs</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane@if(tab=='text){ active}" id="tab1">
            @indexforms.textinput(textForm)
          </div>
          <div class="tab-pane@if(tab=='file){ active}" id="tab2">
            @indexforms.fileupload()
          </div>
          <div class="tab-pane@if(tab=='url){ active}" id="tab3">
            @indexforms.url(urlForm)
          </div>
        </div>
    </div>
}
