@(entryId: Long, sentence: Sentence, source: String, annotations: Iterable[Annotation])


<br />
@sentence.segment.text
<table class="extr-table">
@for((extractor, extrs) <- sentence.extractions.groupBy(_.extractor).toSeq.sortBy(_._1)) {
    <tr><th colspan="8" class="extr-th">@extractor extractions</th></tr>
    <tr>
      <th class="extr-th-small"></th>
      <th class="extr-th-small">Attributes</th>
      <th class="extr-th-small">Context</th>
      <th class="extr-th-small">Argument 1</th>
      <th class="extr-th-small">Relation</th>
      <th class="extr-th-small">Argument 2s</th>
      <th class="extr-th-small">Semantic Arguments</th>
      <th class="extr-th-small"></th>
    </tr>
@for(extr <- extrs) {
    <tr>
      <td class="extr-td">@{"%.2f" format extr.conf}</td>
      <td class="extr-td">@if(extr.attributes.isEmpty){}else{@extr.attributes.iterator.map(_.string).mkString("{", "; ", "}")}</td>
      <td class="extr-td">@extr.context.map(_.string).getOrElse("")</td>
      <td class="extr-td">@extr.arg1.string</td>
      <td class="extr-td">@extr.rel.string</td>
      <td class="extr-td">@extr.arg2s.map(_.string).mkString("; ")</td>
      <td class="extr-td">@extr.semanticArgs.iterator.map(_.displayString).mkString("; ")</td>
      <td class="extr-td">
        <span>
        @defining(annotations exists (ann => ann.contains(sentence, extr) && ann.positive)) { annotated =>
          <a class="annotate" style="display: @if(!annotated){inline}else{none}" href="@routes.Application.annotate(entryId, true, source, sentence.segment.text, extr.arg1.string, extr.rel.string, extr.arg2.string)"><i class="icon-ok-circle"></i></a> 
          <a class="unannotate" style="display: @if(annotated){inline}else{none}" href="@routes.Application.unannotate(entryId, true, source, sentence.segment.text, extr.arg1.string, extr.rel.string, extr.arg2.string)"><i class="icon-ok-sign"></i></a> 
        }
        </span>

        <span>
        @defining(annotations exists (ann => ann.contains(sentence, extr) && ann.negative)) { annotated =>
          <a class="annotate" style="display: @if(!annotated){inline}else{none}" href="@routes.Application.annotate(entryId, false, source, sentence.segment.text, extr.arg1.string, extr.rel.string, extr.arg2.string)"><i class="icon-remove-circle"></i></a> 
          <a class="unannotate" style="display: @if(annotated){inline}else{none}" href="@routes.Application.unannotate(entryId, false, source, sentence.segment.text, extr.arg1.string, extr.rel.string, extr.arg2.string)"><i class="icon-remove-sign"></i></a> 
        }
        </span>
    </tr>
  }
}
</table>
<br />
